VITE_SUPABASE_URL=https://tuzctqgsnfyjuenleksq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1emN0cWdzbmZ5anVlbmxla3NxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNTY2NjcsImV4cCI6MjEwMzgzMjY2N30.q4pyXbV5ejZiR-qUj7i17wcsJ0xNOcslNXHBTMWB4qQ

VITE_API_URL=http://localhost:5000/api

SUPABASE_URL=https://tuzctqgsnfyjuenleksq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1emN0cWdzbmZ5anVlbmxla3NxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODI1NjY2NywiZXhwIjoyMTAzODMyNjY3fQ.IBRwnSLhAZaH_pQpOCX-FX4SQRNu-MIqNVh1g-lME-A